<div class="actor-link-row">
  <label>{{localize linkLabel}}</label>
  <div class="actor-drop-zone" data-drop-type="{{dropType}}">
    {{#if linkedName}}
      <span class="linked-actor-name">{{linkedName}}</span>
      {{#if editMode}}
        <button type="button" class="link-clear" data-action="{{clearAction}}"
          data-tooltip="{{localize 'sr4.item.clearLink'}}">
          <i class="fas fa-times"></i>
        </button>
      {{/if}}
    {{else}}
      <span class="drop-hint">{{localize dropHint}}</span>
    {{/if}}
  </div>
</div>
