<div class="metadata-container">
  <div class="character-row">
    {{> "actor-image"}}

    <div class="info-columns">
      <div class="meta-field">
        <label>{{localize 'sr4.metadata.characterName'}}</label>
        <input type="text" name="name" value="{{actor.name}}" data-dtype="String"/>
      </div>

      {{> meta-field label='sr4.metadata.metatype' name='system.descriptionAndNotes.metatype' value=system.descriptionAndNotes.metatype editMode=editMode}}

      {{> meta-field label='sr4.metadata.gender' name='system.descriptionAndNotes.gender' value=system.descriptionAndNotes.gender editMode=editMode}}

      {{#each system.metaData}}
        <div class="meta-field">
          <label>{{localizeKey 'sr4.metadata' @key}}</label>
          {{#if (lookup ../textFields @key)}}
            <input type="text" name="system.metaData.{{@key}}" value="{{this}}" data-dtype="String" {{#unless ../editMode}}readonly{{/unless}} />
          {{else}}
            <input type="number" name="system.metaData.{{@key}}" value="{{this}}" data-dtype="Number" {{#unless ../editMode}}readonly{{/unless}} />
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
